body {
  background-color: #bbb;
}
.form-card {
  width: 90%;
  margin: 1rem auto;
}

.car {
  .car-name {
    font-size: 1rem;
    font-weight: 700;
  }

  .car-description {
    margin: 0 0 1rem 0;
  }

  .car-price {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .car-grid-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.border-1 {
      border: 1px solid var(--surface-d);

      &.card {
        background: var(--surface-e);
        padding: 2rem;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
          0 1px 3px 0 rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        margin-bottom: 2rem;
      }
    }

    .car-grid-item-content {
      text-align: center;
    }

    img {
      width: 75%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin: 2rem 0;
    }

    .ui-rating {
      margin: 0 0 1rem 0;
    }

    .car-grid-item-bottom {
      flex-direction: column;

      &,
      .car-grid-item-action {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
      }

      .car-grid-item-action {
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  .car-list-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;

    img {
      width: 150px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-right: 2rem;
    }

    .car-list-detail {
      flex: 1 1 0;
      -ms-flex: 1 1 0;
    }

    .car-list-action {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .car-price {
      margin-bottom: 0.5rem;
      align-self: flex-end;
    }
  }
}
/* Primefaces overrides */
.ui-button + .ui-button {
  margin-left: 0.5em;
}
